.App{
    background-color: rgb(248, 236, 255);
    min-height: 100vh;
}

.appBodyCont{
  width: 65%;
  margin: auto;
}

.appHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appHeading > h2{
    font-weight: 400;

}

.searchBox{
    background-color: white !important;
    padding: 10px !important;
}